hcloud_token                = "<required_hcloud_token>"
server_image                = "ubuntu-22.04"
server_location             = "nbg1"
cluster_name                = "swarm"
cluster_user                = "swarm"
my_public_ssh_name          = "swarm"
my_public_ssh_key           = "<required_public_ssh_key>"
my_ip_addresses             = ["0.0.0.0/0", "::/0"]
managers = {
  server_type  = "cx21"
  server_count = 1
}
workers = {
  server_type  = "cx21"
  server_count = 2
}
